<div class="tcGrid__scope">
    <div class="%GRIDCLASS%">
        <div class="tc-display_table tc-style_table">
            <div class="tc-display_thead tc-style_thead">
                <div class="tc-display_tr tc-style_tr">
                    %HEADER%
                </div>
            </div>
            <div class="tc-display_tbody tc-style_tbody">
                <div class="tc-display_tr %ROWCLASS%" id="tc-row-container" ng-repeat="row in %DATA% %FILTER%" %ROWCLICK%>
                    %CHILDREN%
                </div>
            </div>
           
        </div>       
        
        <div class="tc-style_pager" ng-show="vm.showFooter && vm.pageCount > 1">
            <div class="tc-style_item-total">
                {{(options.paging.currentPage - 1) * options.paging.pageSize + 1}}
                -
                {{options.paging.currentPage === vm.pageCount ? options.paging.totalItemCount : options.paging.currentPage * options.paging.pageSize}}
                of
                {{options.paging.totalItemCount}}
            </div>
            <div class="tc-style_page-nav">
                <span class="tc-style_page-display">{{options.paging.currentPage}} / {{vm.pageCount}}</span>
                <button class="tc-button" ng-click="vm.first()" ng-disabled="options.paging.currentPage === 1"><strong>|</strong>&#9668;</button>
                <button class="tc-button" ng-click="vm.prev()" ng-disabled="options.paging.currentPage === 1">&#9668;</button>
                <button class="tc-button" ng-click="vm.next()" ng-disabled="options.paging.currentPage === vm.pageCount">&#9658;</button>
                <button class="tc-button" ng-click="vm.last()" ng-disabled="options.paging.currentPage === vm.pageCount">&#9658;<strong>|</strong></button>
            </div>
            <div class="clearfix"></div>
        </div>        
    </div>    
</div>