<div class="tcGrid__scope">
    <div class="%GRIDCLASS%">
        <div class="tc-display_table tc-style_table">
            <div class="tc-display_thead tc-style_thead">
                <div class="tc-display_tr tc-style_tr">
                    %HEADER%
                </div>
            </div>
            <div class="tc-display_tbody tc-style_tbody">
                <div class="tc-display_tr %ROWCLASS%" ng-class="%ROWEXPRESSION%" id="tc-row-container" ng-repeat="row in tcGrid.data %FILTER%" %ROWCLICK%>
                    %CHILDREN%
                </div>
            </div>

        </div>

        <div class="tc-display_pager" ng-show="tcGrid.showFooter && tcGrid.pageCount > 1">
            <div class="tc-display_item-total">
                {{(tcGrid.options.paging.currentPage - 1) * tcGrid.options.paging.pageSize + 1}}
                -
                {{tcGrid.options.paging.currentPage === tcGrid.pageCount ? tcGrid.options.paging.totalItemCount : tcGrid.options.paging.currentPage * tcGrid.options.paging.pageSize}}
                of
                {{tcGrid.options.paging.totalItemCount}}
            </div>
            <div class="tc-display_page-nav">
                <span class="tc-style_page-display">{{tcGrid.options.paging.currentPage}} / {{tcGrid.pageCount}}</span>
                <select ng-if="tcGrid.options.paging.pageSizeOptions.length" ng-options="pageSize for pageSize in tcGrid.options.paging.pageSizeOptions" ng-model="tcGrid.options.paging.pageSize" ng-change="tcGrid.updatePageSize()"></select>
                <button class="tc-button" ng-click="tcGrid.first()" ng-disabled="tcGrid.options.paging.currentPage === 1"><strong>|</strong>&#9668;</button>
                <button class="tc-button" ng-click="tcGrid.prev()" ng-disabled="tcGrid.options.paging.currentPage === 1">&#9668;</button>
                <button class="tc-button" ng-click="tcGrid.next()" ng-disabled="tcGrid.options.paging.currentPage === tcGrid.pageCount">&#9658;</button>
                <button class="tc-button" ng-click="tcGrid.last()" ng-disabled="tcGrid.options.paging.currentPage === tcGrid.pageCount">&#9658;<strong>|</strong></button>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>


