<div class="tcGrid__scope">
    <div class="%GRIDCLASS%">
        <div class="tc-display_table tc-style_table">
            <div class="tc-display_thead tc-style_thead">
                <div class="tc-display_tr tc-style_tr">
                    %HEADER%
                </div>
            </div>
            <div class="tc-display_tbody tc-style_tbody">
                <div class="tc-display_tr %ROWCLASS%" id="tc-row-container" ng-repeat="row in %DATA% %FILTER%" %ROWCLICK%>
                    %CHILDREN%
                </div>
            </div>
           
        </div>       
        
        <div class="tc-style_pager" ng-show="%OPTIONS%.internal.showFooter && %OPTIONS%.internal.pageCount > 1">
            <div class="tc-style_item-total">
                {{(%OPTIONS%.paging.currentPage - 1) * %OPTIONS%.paging.pageSize + 1}}
                -
                {{%OPTIONS%.paging.currentPage === %OPTIONS%.internal.pageCount ? %OPTIONS%.paging.totalItemCount : %OPTIONS%.paging.currentPage * %OPTIONS%.paging.pageSize}}
                of
                {{%OPTIONS%.paging.totalItemCount}}
            </div>
            <div class="tc-style_page-nav">
                <span class="tc-style_page-display">{{%OPTIONS%.paging.currentPage}} / {{%OPTIONS%.internal.pageCount}}</span>
                <button class="tc-button" ng-click="%OPTIONS%.internal.first()" ng-disabled="%OPTIONS%.paging.currentPage === 1"><strong>|</strong>&#9668;</button>
                <button class="tc-button" ng-click="%OPTIONS%.internal.prev()" ng-disabled="%OPTIONS%.paging.currentPage === 1">&#9668;</button>
                <button class="tc-button" ng-click="%OPTIONS%.internal.next()" ng-disabled="%OPTIONS%.paging.currentPage === %OPTIONS%.internal.pageCount">&#9658;</button>
                <button class="tc-button" ng-click="%OPTIONS%.internal.last()" ng-disabled="%OPTIONS%.paging.currentPage === %OPTIONS%.internal.pageCount">&#9658;<strong>|</strong></button>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

</div>