.tcGrid__scope .tc-grid {
  font-size: inherit;
}
.tcGrid__scope .tc-grid .tc-grid_table {
  display: table;
  margin-bottom: 0;
  width: 100%;
  border-bottom: 1px solid #dddddd;
}
.tcGrid__scope .tc-grid .tc-grid_table .tc-grid_thead {
  display: table-header-group;
}
.tcGrid__scope .tc-grid .tc-grid_table .tc-grid_thead .tc-grid_tr {
  display: table-row;
  background-color: #fdfdfd;
}
.tcGrid__scope .tc-grid .tc-grid_table .tc-grid_thead .tc-grid_tr .tc-grid_th {
  display: table-cell;
  font-weight: bold;
  vertical-align: bottom;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  padding: 5px;
}
.tcGrid__scope .tc-grid .tc-grid_table .tc-grid_thead .tc-grid_tr .tc-grid_th::selection {
  background: transparent;
}
.tcGrid__scope .tc-grid .tc-grid_table .tc-grid_thead .tc-grid_tr .tc-grid_th::-moz-selection {
  background: transparent;
}
.tcGrid__scope .tc-grid .tc-grid_table .tc-grid_thead .tc-grid_tr .tc-grid_th:last-child {
  border-right: 1px solid #dddddd;
}
.tcGrid__scope .tc-grid .tc-grid_table .tc-grid_thead .tc-grid_tr .tc-grid_sort:after {
  margin-left: 5px;
  font-family: FontAwesome;
}
.tcGrid__scope .tc-grid .tc-grid_table .tc-grid_thead .tc-grid_tr .tc-grid_sort.desc:after {
  content: "\f0d7";
}
.tcGrid__scope .tc-grid .tc-grid_table .tc-grid_thead .tc-grid_tr .tc-grid_sort.asc:after {
  content: "\f0d8";
}
.tcGrid__scope .tc-grid .tc-grid_table .tc-grid_tbody {
  display: table-row-group;
}
.tcGrid__scope .tc-grid .tc-grid_table .tc-grid_tbody .tc-grid_tr {
  display: table-row;
}
.tcGrid__scope .tc-grid .tc-grid_table .tc-grid_tbody .tc-grid_tr:nth-child(odd) {
  background-color: #f5f5f5;
}
.tcGrid__scope .tc-grid .tc-grid_table .tc-grid_tbody .tc-grid_tr:nth-child(even) {
  background-color: #fdfdfd;
}
.tcGrid__scope .tc-grid .tc-grid_table .tc-grid_tbody .tc-grid_tr[ng-click]:hover {
  background-color: #f0f0f0;
}
.tcGrid__scope .tc-grid .tc-grid_table .tc-grid_tbody .tc-grid_tr .tc-grid_td {
  display: table-cell;
  border-left: 1px solid #dddddd;
  border-top: none;
  padding: 5px;
}
.tcGrid__scope .tc-grid .tc-grid_table .tc-grid_tbody .tc-grid_tr .tc-grid_td:last-child {
  border-right: 1px solid #dddddd;
}
.tcGrid__scope .tc-grid .tc-grid_table .tc-grid_tbody .tc-grid_tr:first-child .tc-grid_td {
  border-top: none;
}
.tcGrid__scope .tc-grid .tc-grid_pager {
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #dddddd;
  padding: 5px;
}
.tcGrid__scope .tc-grid .tc-grid_pager .tc-grid_item-total {
  float: left;
}
.tcGrid__scope .tc-grid .tc-grid_pager .tc-grid_page-nav {
  float: right;
  text-align: right;
}
.tcGrid__scope .tc-grid .tc-grid_pager .tc-grid_page-nav .tc-grid_page-display {
  padding-right: 5px;
}
.tcGrid__scope .tc-grid_bootstrap {
  font-size: inherit;
}
.tcGrid__scope .tc-grid_bootstrap .tc-grid_table {
  display: table;
  margin-bottom: 0;
  width: 100%;
  border-bottom: 0;
}
.tcGrid__scope .tc-grid_bootstrap .tc-grid_table .tc-grid_thead {
  display: table-header-group;
}
.tcGrid__scope .tc-grid_bootstrap .tc-grid_table .tc-grid_thead .tc-grid_tr {
  display: table-row;
  background-color: #ffffff;
}
.tcGrid__scope .tc-grid_bootstrap .tc-grid_table .tc-grid_thead .tc-grid_tr .tc-grid_th {
  display: table-cell;
  font-weight: bold;
  vertical-align: bottom;
  border-top: 0;
  border-left: 0;
  border-bottom: 2px solid #dddddd;
  padding: 5px;
}
.tcGrid__scope .tc-grid_bootstrap .tc-grid_table .tc-grid_thead .tc-grid_tr .tc-grid_th::selection {
  background: transparent;
}
.tcGrid__scope .tc-grid_bootstrap .tc-grid_table .tc-grid_thead .tc-grid_tr .tc-grid_th::-moz-selection {
  background: transparent;
}
.tcGrid__scope .tc-grid_bootstrap .tc-grid_table .tc-grid_thead .tc-grid_tr .tc-grid_th:last-child {
  border-right: 0;
}
.tcGrid__scope .tc-grid_bootstrap .tc-grid_table .tc-grid_thead .tc-grid_tr .tc-grid_sort:after {
  margin-left: 5px;
  font-family: FontAwesome;
}
.tcGrid__scope .tc-grid_bootstrap .tc-grid_table .tc-grid_thead .tc-grid_tr .tc-grid_sort.desc:after {
  content: "\f0d7";
}
.tcGrid__scope .tc-grid_bootstrap .tc-grid_table .tc-grid_thead .tc-grid_tr .tc-grid_sort.asc:after {
  content: "\f0d8";
}
.tcGrid__scope .tc-grid_bootstrap .tc-grid_table .tc-grid_tbody {
  display: table-row-group;
}
.tcGrid__scope .tc-grid_bootstrap .tc-grid_table .tc-grid_tbody .tc-grid_tr {
  display: table-row;
}
.tcGrid__scope .tc-grid_bootstrap .tc-grid_table .tc-grid_tbody .tc-grid_tr:nth-child(odd) {
  background-color: #ffffff;
}
.tcGrid__scope .tc-grid_bootstrap .tc-grid_table .tc-grid_tbody .tc-grid_tr:nth-child(even) {
  background-color: #ffffff;
}
.tcGrid__scope .tc-grid_bootstrap .tc-grid_table .tc-grid_tbody .tc-grid_tr[ng-click]:hover {
  background-color: #ffffff;
}
.tcGrid__scope .tc-grid_bootstrap .tc-grid_table .tc-grid_tbody .tc-grid_tr .tc-grid_td {
  display: table-cell;
  border-left: 0;
  border-top: 1px solid #dddddd;
  padding: 5px;
}
.tcGrid__scope .tc-grid_bootstrap .tc-grid_table .tc-grid_tbody .tc-grid_tr .tc-grid_td:last-child {
  border-right: 0;
}
.tcGrid__scope .tc-grid_bootstrap .tc-grid_table .tc-grid_tbody .tc-grid_tr:first-child .tc-grid_td {
  border-top: none;
}
.tcGrid__scope .tc-grid_bootstrap .tc-grid_pager {
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #ffffff;
  padding: 5px;
}
.tcGrid__scope .tc-grid_bootstrap .tc-grid_pager .tc-grid_item-total {
  float: left;
}
.tcGrid__scope .tc-grid_bootstrap .tc-grid_pager .tc-grid_page-nav {
  float: right;
  text-align: right;
}
.tcGrid__scope .tc-grid_bootstrap .tc-grid_pager .tc-grid_page-nav .tc-grid_page-display {
  padding-right: 5px;
}
