.grid {
    background: white;
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.24), 0 0 2px 0 rgba(0,0,0,0.12);
}

.grid .tc-style_thead {

}

.grid .tc-style_tbody {

}

.grid .tc-style_tr {
    text-decoration: none;
    color: rgba(0,0,0,0.87);
    border-bottom: 1px solid rgba(156, 163, 178, 0.5);
    padding-bottom: 6px;
}

.grid .tc-style_tbody .tc-style_tr:hover {
    background-color: #F5F5F5;
}

.grid .tc-style_th {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 0.875rem;
    padding: 8px 12px;
}

.grid .tc-style_td {
    padding-left: 4px;
}

.grid .tc-style_pager {
    padding: 8px 12px;
}

.grid .tc-button {
    border-radius: 2px;
    padding: 4px 8px;
}

.grid .tc-button[disabled] {
    pointer-events: none;
}

.grid .tc-select {
    padding: 4px 6px;
    border: 1px solid rgba(156, 163, 178, 0.5);
    margin: 0 12px;
}

.tc-style_th[ng-click] {
    cursor: pointer;
}

.tc-style_th[ng-click]:hover {
    background: #F5F5F5;
}

.grid .tc-style_sort:after {
    margin-left: 4px;
}

.grid .tc-style_sort.desc:after {
    content: '\25BC';
    float: right;
}

.grid .tc-style_sort.asc:after {
    content: '\25B2';
    float: right;
}

@media screen and (min-width: 768px) {
    .grid .tc-style_th {
        border-bottom: 1px solid rgba(156, 163, 178, 0.5);
    }

    .grid .tc-style_td {
        padding: 8px 12px;
        border-bottom: 1px solid rgba(156, 163, 178, 0.5);
    }

    .grid .tc-style_tr {
        padding: 0;
    }

    .grid [tc-col-index="1"] {
        width: 5%;
    }

    .grid [tc-col-index="2"] {
        width: 25%;
    }

    .grid [tc-col-index="3"] {
        width: 30%;
    }

    .grid [tc-col-index="4"] {
        width: 15%;
    }

    .grid [tc-col-index="5"] {
        width: 15%;
    }
}