html, body {
    background: #F2F2F2;
    font-size: 16px;
    line-height: 1.8;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    color: rgba(0,0,0,0.87);
}

h1,h2,h3,h4,h5,h6 {
    font-size: 1em;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

.container {
    margin-top: 2rem;
}

.container__grid {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.hero {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
    background: #0ec0e6;
    box-shadow: 0 2px 2px rgba(0,0,0,0.24), 0 0 2px 0 rgba(0,0,0,0.12);
    text-align: center;
}

.hero__title {
    font-size: 4rem;
    letter-spacing: 0.1em;
    color: white;
    text-align: center;
    font-weight: lighter;
}

.hero__button.button {
    font-size: 1.5em;
    background: transparent;
    border-color: white;
    color: white;
    transition: 200ms cubic-bezier(.78,.17,.24,1.04);
}

.hero__button.button:hover {
    color: rgba(0,0,0,0.87);
    color: #0ec0e6;
    background: white;
}

.button {
    background: white;
    border-radius: 2px;
    border: 1px solid rgba(156, 163, 178, 0.5);
    padding: 0.5em 0.75em;
    min-width: 2em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-decoration: none;
}

.button:hover {
    cursor: pointer;
}

.section {
    margin-top: 2em;
}

.section__title {
    letter-spacing: 0.05em;
    margin-bottom: 0.5em;
    font-size: 1.5em;
    border-bottom: 1px solid rgba(156,163, 178, 0.5);
}

.section__description {
    background: #E2E2E2;
    border-radius: 2px;
    vertical-align: top;
}

@media screen and (min-width: 768px) {
    .section__grid {
        display: inline-block;
        width: calc(60% - 1.5em);
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    .section__description {
        display: inline-block;
        width: calc(40% - 2em);
        padding: 0.5em 1em;
    }
}

@media screen and (min-width: 960px) {
    .container {
        margin-left: 3rem;
        margin-right: 3rem;
    }
}

